<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Administration panel</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<table >
    <tbody>
    <tr id="uprow">
        <td><label>Id</label></td>
        <td><label>Name</label></td>
        <td><label>Surname</label></td>
        <td><label>Address</label></td>
        <td><label>Water Usage</label></td>
        <td><label>Yardage</label></td>
        <td><label>How many people</label></td>
        <td><label>Type</label></td>
        <td><label>Recycling</label></td>
        <td><label>Final price</label></td>
    </tr>
    <tr th:each="info: ${allInfo}" id="downrow">
        <td th:text="${info.id}"></td>
        <td th:text="${info.name}"></td>
        <td th:text="${info.surname}"></td>
        <td th:text="${info.adress}"></td>
        <td th:text="${info.waterUsage}"></td>
        <td th:text="${info.yardage}"></td>
        <td th:text="${info.howManyPeople}"></td>
        <td th:text="${info.type}"></td>
        <td th:text="${info.recycling}"></td>
        <td th:text="${info.finalPrice}"></td>
    </tr>
    </tbody>
</table>
<form method="post" th:action="@{/test}" th:object="${idHolder}" id="deleteTable">
    <table>
        <tr>
            <td><label>Delete info :</label></td>
            <td><input type="number" th:field="${idHolder.id}" min="0"></td>
            <td><input type="submit" value="Delete"></td>
        </tr>
    </table>
</form>
</body>
</html>