<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sprawdź ile zapłacisz za śmieci</title>
</head>
<body>
<form method="post" th:action="@{/check_your_fees}" th:object="${infoAboutClient}">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td><input type="text" th:field="${infoAboutClient.name}" required/></td>
        </tr>
        <tr>
            <td><label>Surname</label></td>
            <td><input type="text" th:field="${infoAboutClient.surname}" required/></td>
        </tr>
        <tr>
            <td><label>Address</label></td>
            <td><input type="text" th:field="${infoAboutClient.adress}" required placeholder="City, street"/></td>
        </tr>
        <tr>
            <td><label>Water Usage</label></td>
            <td><input type="number" th:field="${infoAboutClient.waterUsage}" min="0" required placeholder="monthly water usage"/> m3</td>
        </tr>
        <tr>
            <td><label>Yardage</label></td>
            <td><input type="number" th:field="${infoAboutClient.yardage}" min="0" required/> m2</td>
        </tr>
        <tr>
            <td><label>How many people live in a building?</label></td>
            <td><input type="number" th:field="${infoAboutClient.howManyPeople}" min="0" required /></td>
        </tr>
        <tr>
            <td><label>Type of building</label></td>
            <td><input type="radio" name="b" th:field="${infoAboutClient.type}" value="FLAT" />Flat</td>
            <td><input type="radio" name="b" th:field="${infoAboutClient.type}" value="DETACHED_HOUSE" />Detached house</td>
        </tr>
        <tr>
            <td><label>Do you recycle?</label></td>
            <td><input type="radio" name="r" th:field="${infoAboutClient.recycling}" value="true" />Yes</td>
            <td><input type="radio" name="r" th:field="${infoAboutClient.recycling}" value="false" />No</td>
        </tr>
        <tr><td><input type="submit" value="submit"/></td></tr>
    </table>
</form>
</body>
</html>